.title {
    text-align: center;
}
div.top {
    border: 50px outset red;
    background-color: lightblue;    
    text-align: center;
    height: 200px;
    width: 90%;
}
div.words {
    border: 50px outset red;
    background-color: lightblue;    
    text-align: center;
    height: 200px;
    width: 90%;
}
div.tasks {
    border: 50px outset red;
    background-color: lightblue;    
    text-align: left;
    height: 400px;
    width: 90%;
}
div.weather{
    float: left;
    height: 200px;
    width: 49.5%;
    border: 3px outset black;
    background-color: lightblue;    
}
div.events{
    float: right;
    height: 200px;
    width: 49.5%; 
    border: 3px outset black;
    background-color: lightblue;    
}